.turquoise 		{ background: #1abc9c; color: #ecf0f1 !important; }
.green-sea 		{ background: #16a085; color: #ecf0f1 !important; }
.sun-flower 	{ background: #f1c40f; color: #ecf0f1 !important; }
.orange 		{ background: #f39c12; color: #ecf0f1 !important; }
.emerald 		{ background: #2ecc71; color: #ecf0f1 !important; }
.nephritis 		{ background: #27ae60; color: #ecf0f1 !important; }
.carrot 		{ background: #e67e22; color: #ecf0f1 !important; }
.pumpkin 		{ background: #d35400; color: #ecf0f1 !important; }
.pete-river 	{ background: #3498db; color: #ecf0f1 !important; }
.belize-hole 	{ background: #2980b9; color: #ecf0f1 !important; }
.alizarin 		{ background: #e74c3c; color: #ecf0f1 !important; }
.pomegranate 	{ background: #c0392b; color: #ecf0f1 !important; }
.amethyst 		{ background: #9b59b6; color: #ecf0f1 !important; }
.wisteria 		{ background: #8e44ad; color: #ecf0f1 !important; }
.clouds 		{ background: #ecf0f1; color: #7f8c8d !important; }
.silver 		{ background: #bdc3c7; color: #ecf0f1 !important; }
.wet-asphalt 	{ background: #34495e; color: #ecf0f1 !important; }
.midnight-blue 	{ background: #2c3e50; color: #ecf0f1 !important; }
.concrete 		{ background: #95a5a6; color: #ecf0f1 !important; }
.asbestos 		{ background: #7f8c8d; color: #ecf0f1 !important; }

.turquoise-text 	{ color: #1abc9c; }
.green-sea-text 	{ color: #16a085; }
.sun-flower-text 	{ color: #f1c40f; }
.orange-text 		{ color: #f39c12 ; }
.emerald-text 		{ color: #2ecc71; }
.nephritis-text 	{ color: #27ae60; }
.carrot-text 		{ color: #e67e22; }
.pumpkin-text 		{ color: #d35400; }
.pete-river-text 	{ color: #3498db; }
.belize-hole-text 	{ color: #2980b9; }
.alizarin-text 		{ color: #e74c3c; }
.pomegranate-text 	{ color: #c0392b; }
.amethyst-text 		{ color: #9b59b6; }
.wisteria-text 		{ color: #8e44ad; }
.clouds-text 		{ color: #ecf0f1; }
.silver-text 		{ color: #bdc3c7; }
.wet-asphalt-text 	{ color: #34495e; }
.midnight-blue-text { color: #2c3e50; }
.concrete-text 		{ color: #95a5a6; }
.asbestos-text 		{ color: #7f8c8d; }